@import '../styles/furo.css';

@media only screen and (max-width: 600px) {
    model-viewer {
        width: 300px;
        height: 150px;
        margin: 0px 0px 0px 0px;
        --progress-bar-color: red;
    }
}

@media only screen and (min-width: 600px) {
    model-viewer {
        width: 540px;
        height: 270px;
        margin: 0px 0px 0px 0px;
        --progress-bar-color: red;
    }
}

@media only screen and (min-width: 1000px) {
    model-viewer {
        width: 900px;
        height: 450px;
        margin: 0px 0px 0px 0px;
        --progress-bar-color: red;
    }
}

section {
    text-align: justify;
}

.container {
    position: relative;
    text-align: center;
}

.colormap_max {
    position: absolute;
    bottom: -125%;
    right: 30%;
}

.colormap_mid {
    position: absolute;
    bottom: -125%;
    left: 50%;
}

.colormap_min {
    position: absolute;
    bottom: -125%;
    left: 30%;
}